# Practice with pandas GroupBy class, and DataFrame.groupby()
* reference (?)

In [1]:
import pandas as pd

In [2]:
arrays = [
    ['Falcon',  'Falcon', 'Parrot',  'Parrot', 'Falcon', 'Parrot',  'Parrot',],
    ['Captive', 'Wild',   'Captive', 'Wild',   'Wild',   'Captive', 'Wild'],
    ['Mice',    'Corn',   'Corn',    'Worms',  'Mice',   'Worms',   'Worms']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Captivity', 'Food'))
df = pd.DataFrame({
    'Max Speed': [390., 350., 30., 20., 320., 40., 30.],
    'Weight':    [ 14.,  13.,  8.,  5.,  15.,  6.,  5.],
    'Altitude':  [110., 130., 40., 60., 100., 30., 30.]
    },index=index)
df

                        Max Speed  Weight  Altitude
Animal Captivity Food
Falcon Captive   Mice       390.0    14.0     110.0
       Wild      Corn       350.0    13.0     130.0
Parrot Captive   Corn        30.0     8.0      40.0
       Wild      Worms       20.0     5.0      60.0
Falcon Wild      Mice       320.0    15.0     100.0
Parrot Captive   Worms       40.0     6.0      30.0
       Wild      Worms       30.0     5.0      30.0

In [3]:
foo = df.groupby(['Captivity'])['Weight']
print(type(df))
print(type(foo))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [4]:
# Q: What is the average Weight by "Captivity" [Captive, Wild]
df.groupby(['Captivity'])['Weight'].mean()

Captivity
Captive    9.333333
Wild       9.500000
Name: Weight, dtype: float64

In [5]:
# Q: What is the average Weight by "Captivity" and "Anomal"
df.groupby(['Captivity','Animal'])['Weight'].mean()

Captivity  Animal
Captive    Falcon    14.0
           Parrot     7.0
Wild       Falcon    14.0
           Parrot     5.0
Name: Weight, dtype: float64

In [6]:
df.groupby(['Weight','Altitude']).mean()

                 Max Speed
Weight Altitude
5.0    30.0           30.0
       60.0           20.0
6.0    30.0           40.0
8.0    40.0           30.0
13.0   130.0         350.0
14.0   110.0         390.0
15.0   100.0         320.0

In [7]:
# Q: how is "transform('mean') different from mean() ?
#df.groupby(['Type'])['Weight'].transform('mean')
df.groupby(['Captivity','Animal'])['Weight'].transform('mean')

Animal  Captivity  Food
Falcon  Captive    Mice     14.0
        Wild       Corn     14.0
Parrot  Captive    Corn      7.0
        Wild       Worms     5.0
Falcon  Wild       Mice     14.0
Parrot  Captive    Worms     7.0
        Wild       Worms     5.0
Name: Weight, dtype: float64

In [8]:
df_mean = df.groupby(['Max Speed', 'Altitude'])['Weight'].transform('mean')
df_mean

Animal  Captivity  Food
Falcon  Captive    Mice     14.0
        Wild       Corn     13.0
Parrot  Captive    Corn      8.0
        Wild       Worms     5.0
Falcon  Wild       Mice     15.0
Parrot  Captive    Worms     6.0
        Wild       Worms     5.0
Name: Weight, dtype: float64